<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/chat.css">
  </head>
  <body>
    <div id="chat-container">
      <!-- Display chat messages here -->
      <ul id="messages"></ul>

      <!-- Form for sending messages -->
      <form id="form" action="">
        <input id="input" autocomplete="off" placeholder="Type your message" />
        <input
          id="username-input"
          autocomplete="off"
          placeholder="Your username"
        />
        <button id="send-button">Send</button>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      const path = window.location.pathname;
      const match = path.match(/\/chats\/([^/]+)\/view/);
      const chatId = match ? match[1] : null;

      const socket = io();
      if (chatId) {
        socket.emit('join', chatId);
      } else {
        console.error('Chat ID is missing in the URL');
      }

      const messages = document.getElementById('messages');
      const usernameInput = document.getElementById('username-input');
      const form = document.getElementById('form');
      const input = document.getElementById('input');

      form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value && chatId) {
          const message = input.value.trim().toLowerCase();
          const username = usernameInput.value.trim();

          if (message.startsWith('clear-messages-admin')) {
            socket.emit('admin clear messages', chatId);
            input.value = '';
          } else if (username) {
            socket.emit('chat message', `${username}: ${message}`, chatId);
            input.value = '';
          }
        } else {
          console.error('Either input value is empty or chatId is undefined');
        }
      });
      socket.on('chat message', function (msg) {
        const item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
      });
      socket.on('admin messages cleared', function () {
        messages.innerHTML = '';
      });
    </script>
  </body>
</html>
