<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/chat.css" />
  </head>
  <body>
    <div class="commands-container">
      <p>Commands:</p>
      <p><b>word is: *your guess*</b> - try to guess the word. If success - new word will be q`ed (host cannot guess the word)</p>
      <p><b>clear-messages-admin</b> - clears messages in this chat.</p>
      <button id="skip-word-button">Skip Word</button>
    </div>
    <div id="show-word-container"></div>
    <hr />
    <div id="chat-container">
      <!-- Display chat messages here -->
      <ul id="messages"></ul>

      <!-- Form for sending messages -->
      <form id="form" action="">
        <input id="input" autocomplete="off" placeholder="Type your message" />
        <button id="send-button">Send</button>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      const path = window.location.pathname;
      const match = path.match(/\/chats\/([^/]+)\/view\/([^/]+)$/);
      const chatId = match ? match[1] : null;
      const username = match ? match[2] : null;

      const socket = io();

      if (chatId) {
        socket.emit('join', { chatId, username });
      } else {
        console.error('Chat ID is missing in the URL');
      }

      const showWordContainer = document.getElementById('show-word-container');
      const messages = document.getElementById('messages');
      const form = document.getElementById('form');
      const input = document.getElementById('input');
      const skipWordButton = document.getElementById('skip-word-button');

      form.addEventListener('submit', function (e) {
        e.preventDefault();
        if (input.value && chatId) {
          const message = input.value.trim().toLowerCase();

          if (message.startsWith('Word is:')) {
            socket.emit('check guessing word', message, chatId);
          } else if (message.startsWith('clear-messages-admin')) {
            socket.emit('admin clear messages', chatId);
            input.value = '';
          } else if (message.startsWith('skip word')) {
            socket.emit('skip word', chatId);
          } else if (username) {
            console.log(`${username}: ${message} : ${chatId}`);
            socket.emit('chat message', `${username}: ${message}`, chatId);
            input.value = '';
          }
        } else {
          console.error('Either input value is empty or chatId is undefined');
        }
      });

      skipWordButton.addEventListener('click', function () {
        if (chatId) {
          socket.emit('skip word', chatId);
        } else {
          console.error('chatId is undefined');
        }
      });
      
      let isHost = false;

      socket.on('you are host', ({ guessingWord }) => {
        isHost = true;

        showWordContainer.textContent = `You are the host. Describe the word: ${guessingWord}`;
      });

      socket.on('round started', ({ randomWord }) => {
        console.log('Round started with random word:', randomWord);
        // Please keep these 4 lines, for some reason if i delete them it stops working :)
        if (isHost) {
          showWordContainer.textContent = '1111';
        } else {
          showWordContainer.textContent = '222.';
        }
      });

      socket.on('update guessing word', ({ guessingWord }) => {
        if (isHost) {
          showWordContainer.textContent = `The current word to guess is: ${guessingWord}`;
        }
      });

      socket.on('chat message', function (msg) {
        const item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
      });
      socket.on('Round end', function (msg) {
        const item = document.createElement('h3');
        item.textContent = msg;
        messages.appendChild(item);
      });
      socket.on('admin messages cleared', function () {
        messages.innerHTML = '';
      });
    </script>
  </body>
</html>
